/* unvisited link */
a:link {
    color:lightblue
}

/* visited link */
a:visited {
    color: rgb(235, 132, 166);
}

/* mouse over link */
a:hover {
    color:blue;
}

/* selected link */
a:active {
    color: blue;
}

.textbox{
   height: 30px;
   width:90%;
   border: 2px solid #555555;
   margin-top: 10px
}

.pinkBorder{
    border: 2px solid purple;
    height: 90px;
    width:817.78px;
    margin-left: 15px
}

.outlineBorder{
    border: 2px solid #555555; 
}
