/* unvisited link */

/* mouse over link */
.btn-link {
    color:blue;
}

.textbox{
   height: 30px;
   width:90%;
   border: 2px solid #555555;
   margin-top: 10px
}

.pinkBorder{
    border: 2px solid purple;
    height: 90px;
    width:80%;
    margin-left: 15px
}

.outlineBorder{
    border: 2px solid #555555; 
}

.container{
    background-color:#e7e7e7;
    width:100%;
}