<div class="container" id="dvCommon">
        <div class="row">
            <div class="col-md-12" >
              <h1>Workout Tracker</h1>
            </div>
          </div>
          <div class="col-md-12" style="height:10px"></div>
          <div class="row">
              <div class="col-md-12" >
                <div class="row" style="padding-top:10px">
                  <div class="col-md-1"></div>
                <div class="col-sm-3">
                  <li routerLinkActive="active"> <a [routerLink]="['/viewWorkout']" >View All</a></li>
                </div>
                <div class="col-sm-3">
                    <li routerLinkActive="active"> <a [routerLink]="['/createWorkout']" >Create</a></li>
                  </div>
                  <div class="col-sm-3">
                      <li routerLinkActive="active"> <a [routerLink]="['/category']" >Category</a></li>
                    </div>
                    <div class="col-sm-2">
                        	<li routerLinkActive="active"> <a [routerLink]="['/track']" >Track</a></li>
                      </div>
                    </div>
                  </div>   
    </div>
  </div>
  