<div class="container" id="dvCategory" >
      <div class="row">
          <div class="col-md-12">
            <h3>Add Category</h3>
          </div>
        </div>
      <form name="cform" ng-submit="submitForm()" ng-model="endworkout.cform" novalidate>
          <!-- Title -->
          <div class="form-group">
              <input class="textbox" type="text" id="txtCategorySearch" ng-model="categorySearchBox" placeholder="Search">
          </div>
          
          <!-- Note -->
          <div class="form-group" ng-class="{ 'has-error' : cform.endWorkoutNote.$invalid && !cform.endWorkoutNote.$pristine }">
            <div class="row">
              <div class="col-md-6">
                  <input class="textbox" type="text" id="txtAdd" ng-model="addTextBox" placeholder="Add">
              </div>
              <div class="col-md-1">
                  <img src="Images/Button_Increment.png" style="height:40px;width:40px;" ng-click="Add()">
              </div>
            </div>   
          </div>
          <div class="form-group">
              <table class="table table-responsive">
                <tr>
                  <td>
                    Jogging
                  </td>
                  <td>
                      <button  class="btn btn-primary" ng-disabled="cform.$invalid" ng-click="editWorkoutFunc()">Edit</button> <button  class="btn btn-primary" ng-disabled="cform.$invalid" ng-click="">Delete</button> 
                    </td>
                </tr>
                <tr>
                    <td>
                      Swimming
                    </td>
                    <td>
                        <button  class="btn btn-primary" ng-disabled="cform.$invalid" ng-click="editWorkoutFunc()">Edit</button>  <button  class="btn btn-primary" ng-disabled="cform.$invalid" ng-click="">Delete</button> 
                      </td>
                  </tr>
              </table>
          </div>
        
      </form>
  </div>